* {
    padding: 0;
    margin: 0;
}

body {
    color: #171920;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.w1180 {
    width: 1180px;
    margin: 0 auto;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.w1000 {
    width: 1000px;
    margin: 0 auto;
}

body {
    background-color: #f8f8f8;
}